# Git
.git
.gitignore

# VS Code
.vscode

# Windows
Thumbs.db
Desktop.ini

# Python
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.mypy_cache
backend/.venv
backend/venv

# Angular
frontend/node_modules
frontend/dist
frontend/.angular
frontend/coverage

# General
.env
*.log

# Docker
docker-compose.override.yml